@import '../../../scss/setup/variables';

.contact-preview{
    border-radius:10px;
    border:1px solid darken($clr4, 3%);
    height: 100%;
    justify-content: space-between;
    background-color: darken($clr2, 5%);
    background-color: $clr1;
    cursor:pointer;
    .img-container{
        border-top-left-radius:inherit;
        border-top-right-radius:inherit;

        position: relative;
        height: 40%;
        width: 100%;
        // background-color: $clr1;
        background-color: $clr2;
        
        img {
            border-radius: 50%;
            width: 70%;
            border:5px solid $clr1;
            // border: 5px double rgb(182, 182, 182);
            position:absolute;
            left:50%;
            top:15px;
            transform: translateX(-50%);
            transition: 0.2s;
        }
    }
    
    h2{
        margin:0 auto 20px;
        transition: 0.2s;
        color:$clr10;
        text-shadow: 1px 1px rgba(0, 0, 0, 0.096);
    }
    
    transition: 0.2s;
    &:hover{
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.199);
        .img-container img{
            transform: translateX(-50%) scale(1.1);
            filter:brightness(120%);
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.199);
        }
        h2{
            color:lighten($clr10,10%);
        }
    }
}